@use '../../styles/mixins';
@import '../../styles/variables';

.schedule-list {
  @include mixins.DisplayFlex(center, center, column, nowrap);
  width: 100%;
  min-width: 40rem;
  list-style: none;
  background-color: $border;
  margin-bottom: 16rem;

  .list-headings {
    @include mixins.DisplayFlex(center, center, row, nowrap);
    width: 100%;
    box-sizing: border-box;

    p {
      font-weight: 600;
      letter-spacing: 0.5px;
      border: 1px solid brown;
      text-align: center;
      line-height: 1.6;

      &:first-child {
        width: 5%;
        min-width: 6rem;
      }
      &:nth-child(2) {
        width: 15%;
        min-width: 16rem;
      }
      &:nth-child(3) {
        width: 75%;
        min-width: 20rem;
        border-right: none;
      }
      &:last-child {
        width: 5%;
        min-width: 6rem;
        border-left: none;
      }
    }
  }

  .highlight--day {
    background: linear-gradient(
      to right,
      rgba(173, 147, 0, 0.2),
      rgba(255, 255, 255, 0) 6%
    );

    animation: highlight-slide 2s linear;
  }

  .highlight--night {
    background: linear-gradient(
      to right,
      rgba(158, 43, 253, 0.2),
      rgba(255, 255, 255, 0) 6%
    );

    animation: highlight-slide 2s linear;
  }

  @keyframes highlight-slide {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: 100%;
    }
  }
}

.add-icon-container {
  margin-top: 2rem;
  background: none;
  height: 3.2rem;
  width: 3.2rem;
  border: none;
  cursor: pointer;
  transform: translateY(-14rem);

  .add-icon {
    height: 3.2rem;
    width: 3.2rem;
    color: $header;
  }

  &:hover .add-icon {
    color: #cfcfcf;
  }

  &:active .add-icon {
    transform: scale(0.95);
  }
}
