@use '../../styles/mixins';
@import '../../styles/variables';

.schedule-list-item {
  width: 100%;
  padding: 0.4rem 0;
  box-sizing: border-box;
  border: 1px solid slategray;
  border-top: none;
  transition: background-color 0.15s linear;
  position: relative;

  &:not(:hover) {
    background-color: rgba(112, 128, 144, 0.08);
  }

  .schedule-list-item-information {
    @include mixins.DisplayFlex(center, flex-start, row, nowrap);

    p {
      &:first-child {
        width: 5%;
        min-width: 6rem;
        text-align: center;
      }
      &:nth-child(2) {
        width: 15%;
        min-width: 8rem;
        text-align: center;
      }
      // &:nth-child(3) {
      //   width: 83%;
      // }
    }

    .activity-container {
      width: 75%;
      min-width: 20rem;
      .activity-title {
        @include mixins.DisplayFlex(flex-start, flex-start, row, nowrap);
        cursor: pointer;
        position: relative;
        margin-left: 1.2rem;

        &::marker {
          content: '';
        }

        &::after {
          position: absolute;
          right: 0;
          transform: translateX(-50%);
          content: '►';
        }
      }

      .activity-title--without-note {
        @include mixins.DisplayFlex(flex-start, flex-start, row, nowrap);
        margin-left: 1.2rem;
      }

      .important {
        @include mixins.DisplayFlex(flex-start, flex-start, row, nowrap);
        position: relative;
        margin-right: 1.2rem;
        color: $button;
        z-index: 1;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
          height: 90%;
          background-color: $background;
          border-radius: 50%;
          z-index: -1;
        }
      }

      .activity-details {
        background-color: rgba(255, 0, 0, 0.082);
        width: 95%;
        text-align: left;
        margin: 0.4rem 2.4rem;
        filter: opacity(1);
        animation: show-details 0.25s ease-in;

        @keyframes show-details {
          0% {
            filter: opacity(0);
          }
          100% {
            filter: opacity(1);
          }
        }
      }
    }

    .activity-container[open] {
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.6);
      transition: background-color 0.5s;
    }

    .activity-container[open] .activity-title::after {
      content: '▼';
    }

    .action-container {
      width: 5%;
      min-width: 6rem;

      .edit-button {
        width: 100%;
        cursor: pointer;
        background: none;
        border: none;
      }

      .edit-icon {
        padding-top: 0.2rem;
        color: $header;

        &:hover {
          color: $text;
        }
      }
      .checkbox {
        width: 100%;
        accent-color: $button;
        cursor: pointer;
      }
    }
  }
}

.edit-action-icons {
  @include mixins.DisplayFlex(center, flex-start, row, nowrap);
  gap: 0.4rem;
  height: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  background-color: $border;
  border: 1px solid $text;
  border-left: none;
  box-sizing: border-box;
  z-index: -1;
  padding: 0.4rem 0.4rem 0.4rem 0.6rem;
  transition: all 0.2s linear;
}

.schedule-list-item:hover .edit-action-icons {
  transform: translate(5rem, -50%);
}

.action-icon {
  @include mixins.DisplayFlex(center, center, column, nowrap);
  background-color: transparent;
  transform: scale(1.35);
  border: none;
  cursor: pointer;
  padding: 2px;
  // border-radius: 3px;
}

.action-icon--add {
  color: greenyellow;
  &:hover {
    background-color: rgba(0, 128, 0, 0.2);
  }
}

.action-icon--delete {
  color: red;

  &:hover {
    background-color: rgba(255, 0, 0, 0.15);
  }
}
