@use '../../styles/mixins';
@import '../../styles/variables';

header {
  @include mixins.DisplayFlex(center, center, column, nowrap);
  gap: 2rem;
  padding: 10rem 0 3.2rem 0;
  width: 100%;

  .primary-heading-container {
    @include mixins.DisplayFlex(center, center, column, nowrap);
    gap: 2rem;
    h1 {
      color: $header;
      font-size: 4rem;
      letter-spacing: 2px;
    }

    p {
      font-size: 2rem;
    }
  }

  .house-button-wrapper {
    @include mixins.DisplayFlex(center, center, row, nowrap);
    gap: 2rem;
    margin-top: 3.2rem;

    .house-button {
      background-color: transparent;
      color: $header;
      filter: opacity(0.25);
      border: 2px solid $button;
      border-radius: 5px;
      padding: 0.4rem 0.8rem;
      cursor: pointer;
      animation: fade-out 0.25s ease-in;

      span {
        font-size: 2rem;
      }

      &:nth-child(2) {
        position: relative;
        height: 3.2rem;
        width: 3.2rem;
        filter: opacity(1);
        background-color: $button;
        color: $border;
        border-radius: 50%;
      }

      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        height: 2.4rem;
        width: 2.4rem;
        transition: transform 0.1s;
      }

      .left-icon {
        transform: translate(-50%, -50%) scale(-1);
        transition: transform 0.1s;
      }
    }

    .selected-house {
      filter: opacity(1);
      background-color: $button;
      color: $border;
      animation: fade-in 0.25s ease-in;
      pointer-events: none;
    }
  }

  .shift-button-wrapper {
    @include mixins.DisplayFlex(center, center, row, nowrap);

    .shift-button {
      background-color: transparent;
      color: $header;
      filter: opacity(0.25);
      border: 2px solid $button;
      padding: 0.4rem 0.8rem;
      cursor: pointer;
      animation: fade-out 0.25s ease-in;

      &:first-child {
        border-right: none;
        border-radius: 5px 0 0 5px;
      }
      &:last-child {
        border-left: none;
        border-radius: 0 5px 5px 0;
      }
    }

    .selected-shift {
      filter: opacity(1);
      background-color: $button;
      color: $border;
      animation: fade-in 0.25s ease-in;
      pointer-events: none;
    }
  }

  @keyframes fade-in {
    0% {
      filter: opacity(0.25);
      background-color: transparent;
      color: $header;
    }
    100% {
      filter: opacity(1);
      color: $border;
      background-color: $button;
    }
  }

  @keyframes fade-out {
    0% {
      filter: opacity(1);
      color: $border;
      background-color: $button;
    }
    100% {
      filter: opacity(0.25);
      background-color: transparent;
      color: $header;
    }
  }
}
