@use '../../styles/mixins';
@import '../../styles/variables';

.login-form {
  @include mixins.DisplayFlex(center, center, column, nowrap);
  gap: 3.2rem;

  .username-container {
    @include mixins.DisplayFlex(center, flex-start, column, nowrap);
  }

  .password-container {
    @include mixins.DisplayFlex(center, flex-start, column, nowrap);
  }

  label {
    letter-spacing: 1px;
  }

  input {
    margin-top: 0.8rem;
    padding: 0.8rem 0.4rem;
    border-radius: 5px;
    border: 1px solid $button;
    background-color: $border;
    color: $text;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px $button;
    }
  }

  .invalid {
    border: 1px solid darkred;
    &:focus {
      box-shadow: 0 0 0 2px darkred;
    }
  }
}
